*
!Desktop
!.dmrc
!Downloads
!.gitconfig
!.gitignore
!Notes
!Workspace
!.xprofile
!.Xresources
!.zshrc
!.config
!.config/clipit
!.config/clipit/clipitrc
!.config/i3
!.config/i3/config
!.config/i3status
!.config/i3status/config
!Desktop
!README.md
!.vim
!.vim/colors
!.vim/colors/jellybeans.vim
!.vimrc
